// COLOR
$color-brand: #000;
$color-primary: #0c82b1;
$color-background: #FFFFFF;
$color-title: #0c82b1;
$color-text-content: #bcbcbcff;
$color-text-header-footer:#fff;
$font-size-mobile:14px;
$font-size-desktop:16px;
$bg-color-header-footer:#000;
$color-header-footer:#fff;
$mediaConfig: ( tablet: 768px, desktop: 1200px, );
@mixin colors($color: blue) {
    background-color: $color;
    @content;
    border-color: $color;
    color: $color1;
}

$color: white;
$color1: #f00;
.colors {
    @include colors {
        color: $color;
    }
}