@import"../../variable.scss";
@import "../../mixins.scss";
.boxes {
    background-color: #f1ecec;
    padding-top: 16px;
    padding-bottom: 16px;
}

.box-cover {
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: -16px;
        margin-right: -16px;
    }
}

.box {
    color: red;
    @at-root &__#{'part-1'} {
        display: flex;
        color: red;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @at-root &__#{'part-2'} {
        color: red;
    }
    @media screen and (min-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.box-title {
    @at-root &__#{'text'} {
        color: #7a7474;
    }
}

.box-icon {
    color: #1953cf;
    font-size: 32px;
}

.box-text {
    color: #7a7474;
}