.colors {
  background-color: blue;
  color: white;
  border-color: blue;
  color: #f00;
}

.nav {
  color: #000;
}

.nav__menu--mobile {
  display: flex;
}

.nav__menu--desktop {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav__menu--mobile {
    display: none;
  }
  .nav__menu--desktop {
    display: flex;
  }
}

.logo__text {
  color: #1686e7;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.list-menu {
  display: flex;
  margin-right: -8px;
}

.list-menu__item {
  list-style-type: none;
  list-style-type: none;
  padding-left: 8px;
  padding-right: 8px;
}

.list-menu__item a {
  color: #000;
  text-decoration: none;
}
